[{{ $lastFinding := (sub (len . ) 1) }}
{{- range $i, $finding := . }}{{with $finding}}
    {
        "Description": {{ quote .Description }},
        "StartLine": {{ .StartLine }},
        "EndLine": {{ .EndLine }},
        "StartColumn": {{ .StartColumn }},
        "EndColumn": {{ .EndColumn }},
        "Line": {{ quote .Line }},
        "Match": {{ quote .Match }},
        "Secret": {{ quote .Secret }},
        "File": {{ quote (index .Attributes "path") }},
        "SymlinkFile": {{ quote (index .Attributes "fs.symlink") }},
        "Commit": {{ quote (index .Attributes "git.sha") }},
        "Author": {{ quote (index .Attributes "git.author_name") }},
        "Email": {{ quote (index .Attributes "git.author_email") }},
        "Date": {{ quote (index .Attributes "git.date") }},
        "Message": {{ quote (index .Attributes "git.message") }},
        "Tags": [{{ $lastTag := (sub (len .Tags ) 1) }}{{ range $j, $tag := .Tags }}{{ quote . }}{{ if ne $j $lastTag }},{{ end }}{{ end }}],
        "RuleID": {{ quote .RuleID }},
        "Fingerprint": {{ quote .Fingerprint }}
    }{{ if ne $i $lastFinding }},{{ end }}
{{- end}}{{ end }}
]
